version: '{build}'
branches:
  only:
    - master
clone_folder: c:\projects\cmake-init
image:
  - Visual Studio 2017
platform:
  - Win32
environment:
  matrix:
    - GENERATOR: Visual Studio 15 2017
    - GENERATOR: MinGW Makefiles
install:
  - ps: Get-Command sh.exe -All | Remove-Item
  - cmd: git submodule init
  - cmd: git submodule update
  - cmd: mkdir build
  - cmd: cd build
before_build:
  - cmd: cmake --version
  - cmd: cmake .. -G "%GENERATOR%"
build_script:
  - cmd: cmake --build
before_test:
  - cmd: cp Debug/hptzip.dll tests/Debug
test_script:
  - cmd: ctest -C Debug
