version: '{build}'
branches:
  only:
    - master
clone_folder: c:\projects\cmake-init
image:
  - Visual Studio 2017
platform:
  - Win32
environment:
  matrix:
    - GENERATOR: Visual Studio 15 2017
    - GENERATOR: MinGW Makefiles
install:
  - cmd: git submodule init
  - cmd: git submodule update
  - cmd: mkdir build
  - cmd: cd build
  - ps: Get-Command sh.exe -All | Remove-Item
before_build:
  - if "%GENERATOR%"=="MinGW Makefiles" set PATH=%MINICONDA%;%MINICONDA%\\Scripts;C:\\msys64\\mingw64\\bin;C:\\Program Files\\7-Zip;%SystemRoot%\\system32;%SystemRoot%;%SystemRoot%\\System32\\Wbem;%SYSTEMROOT%\\System32\\WindowsPowerShell\\v1.0\\;
  - cmd: cmake --version
  - cmd: cmake .. -G "%GENERATOR%"
build_script:
  - cmd: cmake --build .
before_test:
  - cmd: cp Debug/hptzip.dll tests/Debug
test_script:
  - cmd: ctest -C Debug
