version: '{build}'
branches:
  only:
    - master
image:
  - Visual Studio 2017
platform:
  - Win32
environment:
  matrix:
    - GENERATOR: MSYS Makefiles
    - GENERATOR: Visual Studio 15 2017
install:
  - cmd: git submodule init
  - cmd: git submodule update
  - cmd: if "%GENERATOR%"=="MSYS Makefiles" C:\msys64\usr\bin\pacman -S --noconfirm --needed zlib-devel mingw-w64-x86_64-pkg-config cmake
build_script:
  - cmd: if "%GENERATOR%"=="MSYS Makefiles" (
      xcopy /i /q /s C:\projects\husky-cmake C:\msys64\home\appveyor\husky-cmake &&
      C:\msys64\usr\bin\bash -e -l -c "cd husky-cmake && mkdir build && cd build && cmake .. -G \"Unix Makefiles\" -DUSE_FILE32API=ON && cmake --build ." )
  - cmd: if "%GENERATOR%"=="Visual Studio 15 2017" (
      mkdir build && cd build && cmake --version &&  cmake .. -G "%GENERATOR%" && cmake --build . )
before_test:
  - cmd: if "%GENERATOR%"=="Visual Studio 15 2017" cp Debug/hptzip.dll tests/Debug
test_script:
  - cmd: if "%GENERATOR%"=="Visual Studio 15 2017" ctest -C Debug
  - cmd: if "%GENERATOR%"=="MSYS Makefiles" C:\msys64\usr\bin\bash -e -l -c "cd husky-cmake/build && ctest"
