version: '{build}'
branches:
  only:
    - master
image:
  - Visual Studio 2017
platform:
  - Win32
environment:
  matrix:
    - GENERATOR: MinGW Makefiles
    - GENERATOR: Visual Studio 15 2017
install:
  - cmd: git submodule init
  - cmd: git submodule update
build_script:
  - cmd: if "%GENERATOR%"=="MinGW Makefiles" (
      xcopy /i /q /s C:\projects\husky-cmake C:\msys64\home\appveyor\husky-cmake &&
      C:\msys64\usr\bin\bash -e -l -c "pwd && cd husky-cmake && mkdir build && cd build && cmake .. -G \"MinGW Makefiles\" && cmake --build ." )
  - cmd: if "%GENERATOR%"=="Visual Studio 15 2017" (
      mkdir build && cd build && cmake --version &&  cmake .. -G "%GENERATOR%" && cmake --build . )
  - cmd: cmake --build .
before_test:
  - cmd: cp Debug/hptzip.dll tests/Debug
test_script:
  - cmd: ctest -C Debug
