version: '{build}'
branches:
  only:
    - master
image:
  - Visual Studio 2017
platform:
  - Win32
environment:
  matrix:
    - TARGET: MSYS
    - TARGET: MSVC2017
install:
  - cmd: git submodule init
  - cmd: git submodule update
  - cmd: if "%TARGET%"=="MSYS" C:\msys64\usr\bin\pacman -S --noconfirm --needed zlib-devel mingw-w64-x86_64-pkg-config cmake
build_script:
  - cmd: if "%TARGET%"=="MSYS" (
      xcopy /i /q /s C:\projects\husky-cmake C:\msys64\home\appveyor\husky-cmake &&
      C:\msys64\usr\bin\bash -e -l -c "cd husky-cmake && mkdir build && cd build && cmake .. -G \"Unix Makefiles\" && cmake --build ." )
  - cmd: if "%TARGET%"=="MSVC2017" (
      mkdir build && cd build && cmake --version &&  cmake .. -G "Visual Studio 15 2017" && cmake --build . )
before_test:
  - cmd: if "%TARGET%"=="MSVC2017" cp Debug/hptzip.dll tests/Debug
test_script:
  - cmd: if "%TARGET%"=="MSVC2017" ctest -C Debug
  - cmd: if "%TARGET%"=="MSYS" C:\msys64\usr\bin\bash -e -l -c "cd husky-cmake/build && ctest ; cat Testing/Temporary/LastTest.log"
